@font-face { font-family: m5x7; src: url('../fonts/m5x7.ttf'); }

#game {
    width: 640px;
    height: 448px;
    position: relative;
    overflow:hidden;
    display: block;
    margin: auto;
}

#game div {
    position: absolute;
}

#score {
    z-index: 10000;
    margin-left: 1%;
}

.reset, #score span{
    font-family: m5x7, sans-serif;
    font-size: 32px;
    color: white;
    text-shadow: 2px 2px black;
}

.reset {
    z-index: 100011;
}

#background_b {
    width: 640px;
    height: 47px;
    z-index: 81;
    background-image: url("../images/background_b.png");
    background-position: 0 0;
    animation-name: background-run-x;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#background_a {
    width: 640px;
    height: 96px;
    z-index: 80;
    background-image: url("../images/background_a.png");
    background-position: 0 47px;
    animation-name: background-run-x;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#foreground {
    width: 640px;
    height: 448px;
    z-index: 100;
    background-image: url("../images/foreground.png");
    background-position: 0 0;
    animation-name: foreground-run-x;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#midground {
    width: 640px;
    height: 448px;
    z-index: 50;
    background-image: url("../images/midground.png");
    background-position: 0 96px;
    animation-name: midground-run-x;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.paused{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused; 
    animation-play-state:paused;
}

#obstacles {
    width: 137px;
    height: 124px;
    z-index: 900;
    background-image: url("../images/cactus.png");
    background-position: 0 0;
    top: 222px;
}

#player {
    background-image: url("../images/coyote.png");
    z-index: 1000;
    top: 222px;
    left: 100px;
}

.coyote_run {
    width: 76px;
    height: 126px;
    background-position: 0 0;
    animation-name: coyote-run-x;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(6);
}

.coyote_jump {
    width: 104px;
    height: 150px;
    background-position: 0 282px;
    animation-name: coyote-jump-x;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(6);
}

.coyote_dies {
    width: 130px;
    height: 132px;
    background-position: 0 132px;
}

@keyframes coyote-jump-x {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -624px;
    }
}

@keyframes coyote-run-x {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -456px;
    }
}

@keyframes background-run-x {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -1024px;
    }
}

@keyframes foreground-run-x {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -3165px;
    }
}

@keyframes midground-run-x {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -1445px;
    }
}