body {
  background: #24aecd;
}

#sprite_run {
  height: 294px;
  width: 165px;
  background-image: url("sprite_sheet.png");
  background-position: 0 0;
  animation-name: run-x, run-y;
  animation-duration: 0.4s, 2.4s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(12), steps(6);
}

@keyframes run-x {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -1980px;
    }
}

@keyframes run-y {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: -1764px;
    }
}
