h1{
	font-family: 'Dancing Script', cursive;
	color: white;
	text-align: center;
}

#editorCanvas{
	border: #000 solid 1px;
	margin: auto;
  	display: block;
  	width: 600;
  	height: 400;
}

body{
	background-color: #24292D;
}

.opc{
	background-color: #1C2127;
	align-items: center;
}

.oi{
	color: #fafafa;
}

.btn-group{
	align-content: center;
	align-items: center;
	align-self: center;

}

h2{
	color: white;
}