h1 {
  font-family: 'Dancing Script', cursive;
  color: white;
  text-align: center;
  font-size: 3.5rem;
  margin: 1%;
}

h5, .sliderPorcentaje {
  color: white;
}

#editorCanvas {
  border: #fafafa dashed 1px;
  margin: auto;
  display: block;
  width: 600;
  height: 400;
}

#backCanvas {
  display: none
}

body {
  background-color: #24292D;
}

#opciones {
  padding-bottom: 15px;
  padding-top: 15px;
}

.opc {
  background-color: #1C2127;
  align-items: center;
}

.oi {
  color: #fafafa;
}

.btn-group {
  align-content: center;
  align-items: center;
  align-self: center;
}

h2 {
  color: white;
}

label {
  margin-bottom: 0;
}

.bs-docs-footer {
  text-align: left;
}

.bs-docs-footer {
  clear: both;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #99979c;
  text-align: center;
  background-color: #0f0f0f;
}

footer {
  display: block;
}
